pandas==1.5.3
torchxrayvision==1.2.3
pydicom==2.4.4
scikit-image==0.24.0
scikit-learn==1.2.0
sentencepiece==0.1.99
transformers==4.46.0
protobuf==4.24.4
pycocotools==2.0+nv0.8.0
faster-coco-eval==1.5.7
safetensors==0.4.3
accelerate==1.0.0
requests==2.32.3
huggingface_hub==0.26.3
rouge_score==0.1.2
bert_score==0.3.13
radgraph==0.1.14
f1chexbert==0.0.2
torchmetrics==1.4.0.post0  
ensemble-boxes==1.0.9
albumentations==2.0.0
openai==1.61.1


